* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
}


/* ----- NAVBAR ----- */
nav {
    background-color: #222;
    padding: 5px 20px;
}
ul {
    list-style-type: none;
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.menu li {
    font-size: 16px;
    padding: 15px 5px;
}
.menu li a {
    display: block;
}

.logo a {
    font-size: 20px;
}

/* ----- MOBILE MENU ----- */
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
}
.item.active {
    display: block;
}

.toggle {
    cursor: pointer;
}

.bars {
    background: #999;
    display: inline-block;
    height: 2px;
    position: relative;
    width: 18px;
}

.bars::before,.bars::after {
    background: #999;
    content: "";
    display: inline-block;
    height: 2px;
    position: absolute;
    width: 18px;
}
.bars::before {
    top: 5px;
}
.bars::after {
    top: -5px;
}

/* ----- Tablet Menu ----- */

@media all and (min-width:468px){
    .menu {
        justify-content: center;
    }
    .logo {
        flex: 1;
    }
    .toggle {
        order: 2;
    }

}

@media all and (min-width: 768px){
    .item{
        display: block;
        width: auto;
    }
    .toggle{
        display: none;
    }
    .logo{
        order: 0;
    }
    .item{
        order: 1;
    }

    .menu li{
        padding: 15px 10px;
    }
}